fieldset {
  border-radius: 10px;
  padding: 10px;
  border-color: var(--border-color);
  overflow-y: auto;
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  scrollbar-color: var(--between-color) var(--forth-color);
  scrollbar-width: thin;
}
option {
  color: var(--black-text-color);
  font-family: inherit;
  font-size: 1.1em;
}
ul {
  list-style-type: none;
}
select {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 0.9em;
  font-family: inherit;
  color: var(--black-text-color);
  background-color: var(--forth-color);
  border: 1px solid var(--border-color);
}
.indexText, div {
  text-align: center;
}
li {
  color: var(--black-text-color);
  margin: 10px 0;
  padding: 5px 0;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 6px;
  border-collapse: collapse;
  grid-template-columns: repeat(3,1fr);
  display: grid;
}
li:nth-child(odd) {
  color: var(--white-text-color);
  background-color:var(--between-color);
}
