h1 {
  margin-block: 0.67em;
  font-size: 1.6em;
}
.promotion-dialog-container .mat-dialog-container {
  padding: 0;
  background: none;
  overflow: visible;
}
nav {
  position: absolute;
  width: 20%;
  max-height: 80px;
  padding: 10px 1%;
  align-items: center;
  gap: 10px;
  display: flex;
  background-color: var(--primary-color);
  color: var(--white-text-color);
  border-radius: 0 0 10px 0;
}
h1 {
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out;
  will-change: color;
}
h1:hover {
  color: var(--gradient-text-color);
}
nav + div {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  height: 100vh;
}
main {
  display: flex;
}
main > div > div {
  display: flex;
  justify-content: end;
  margin: 10px 0;
}
app-menu {
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3%;
  width: 300px;
  padding-top: 80px;
  background-color: var(--primary-color);
}
app-nerd-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.welcome h1 {
  font-size: 3rem;
  color: var(--black-text-color);
  margin-bottom: 20px;
}
main > div:nth-child(2) {
  border: 2px solid var(--border-color);
  background-color: var(--forth-color);
  margin: 4.2% 0 0 20px;
  border-radius: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
app-notation {
  width: 95%;
  margin: 2% 0;
}
app-position-evaluator {
  margin: 5% 0;
}
