<nav>
  <img ngSrc="../assets/pieces/bs.svg" alt="Logo szachów, CZARNY skoczek" height="48" width="18">
  <h1 (click)="convert_name()">Szachy</h1>
</nav>
<div>
  <app-menu (game_selected)="selectGame($event)"></app-menu>
  <main>
    <div>
      <app-zegar [color]="black" [time]="time"></app-zegar>
    </div>
    <app-szachownica (currentGameChange)="setGame($event)" (moveExecuted)="notation.addMove($event)"></app-szachownica>
    <div>
      <app-zegar [color]="white" [time]="time"></app-zegar>
    </div>
    <div>
      <app-nerd-view [game]="game"></app-nerd-view>
      <app-position-evaluator></app-position-evaluator>
      <app-notation #notation></app-notation>
    </div>
  </main>
  @if (gameType) {
    <app-game-selector [game]="gameType" (time)="setTime($event)"></app-game-selector>
  }
</div>
