<nav>
  <img ngSrc="../assets/bs.svg" alt="Logo szachów, biały pionek" height="48" width="48">
  <h1 (click)="convert_name()">Szachy</h1>
</nav>
<div>
  <app-menu (game_selected)="selectGame($event)"></app-menu>
  <main>
    <div>
      <app-zegar [color]="black" [time]="time"></app-zegar>
    </div>
    <app-szachownica 
      (currentGameChange)="setGame($event)" 
      (moveExecuted)="notation.addMove($event)">
    </app-szachownica>
    <div>
      <app-zegar [color]="white" [time]="time"></app-zegar>
    </div>
    <div style="display: flex; width:80%; justify-content: space-between;">
      <app-nerd-view [game]="game"></app-nerd-view>
      <app-notation #notation></app-notation>
    </div>

  </main>
  <app-game-selector *ngIf="gameType" [game]="gameType" (time)="setTime($event)"></app-game-selector>
</div>