:root {
  --background-color: #E6E8E6;
  --forth-color: #d4d6d4;
  --third-color: #CED0CE;
  --secondary-color: #9FB8AD;
  --between-color: #6a816f;
  --primary-color: #475841;
  --border-color: #3F403F;
  --gray-text-color: #898988;
  --gradient-text-color: #bdbdbd;
  --white-text-color: #efefef;
  --black-text-color: #212121;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--black-text-color);
  font-family: 'Inter', sans-serif;
}
.dark {
  --background-color: #212121;
  --forth-color: #424242;
  --third-color: #616161;
  --secondary-color: #9E9E9E;
  --between-color: #BDBDBD;
  --primary-color: #757575;
  --border-color: #9E9E9E;
  --gray-text-color: #BDBDBD;
  --gradient-text-color: #E0E0E0;
  --white-text-color: #212121;
  --black-text-color: #FAFAFA;
}
.mocha {
  --background-color: #1e1e2e;
  --forth-color: #585b70;
  --third-color: #45475a;
  --secondary-color: #313244;
  --between-color: #9399b2;
  --primary-color: #bac2de;
  --border-color: #6c7086;
  --gray-text-color: #bac2de;
  --gradient-text-color: #cdd6f4;
  --white-text-color: #11111b;
  --black-text-color: #cdd6f4;
}
select, option {
  color: var(--black-text-color);
}
