<fieldset>
  <legend>Widok dla nerdów</legend>
  @if (!game) {
    <p>Nie znaleziono gry.</p>
  } @else {
    <p>Typ gry: <b>{{ game.type }}</b></p>
    @if (game.type !== 'GraczVsGrandmaster') {
      <p>Długość trwania: <b>{{ game.duration }}</b> sekund</p>
    }
    @if (game.type !== 'GraczVsGracz') {
      <p>Kolor gracza: <b>{{ game.mainPlayerColor }}</b></p>
    }
    <p>Obecny ruch: <b>{{ currentTurnColor }}</b></p>
    @if (game.type === 'GraczVsAi') {
      <p>Poziom trudności: <b>{{game.difficulty}}</b> "pod tablic"</p>
    }
    @if (game.type === 'GraczVsGrandmaster') {
      <p>Nazwa pliku: <b>{{game.grandmaster?.name}}</b></p>
      <p>Biały gracz: <b>{{game.white_player}}</b></p>
      <p>Czarny gracz: <b>{{game.black_player}}</b></p>
    }
  }
</fieldset>
