div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  padding: 10px;
  column-gap: 20px;
  border-radius: 10px;
  font-size: 0.7em;
  color: var(--white-text-color);
  background-color: var(--primary-color);
  border: 1px solid var(--border-color);
}
img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
h2 {
  font-weight: 500;
}
